/* 노말 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.inline-grid {
  font-size: 0;
}

.inline-grid > * {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}
.cursor {
 cursor:pointer; 
}
.h-500px {
  height: 500px;
}
.flex {
  display:flex;
}
.flex-col {
  flex-direction: column;
}
.flex-grow {
  flex-grow:1;
}
.flex-shrink-0 {
  flex-shrink:0;
}

/* 커스텀 */
.con {
  width: 1200px;
}
/* 헤더 시작 */
.top-bar {
  position: sticky;
  top: 0;
  z-index: 999;
/*   position: relative; */
}

.top-bar div ul li {
  cursor: pointer;
}
.top-bar-img {
  margin-top: 10px;
  margin-left: 30px;
  width: 5%;
  float: left;
}
.nav-box {
  width: 100%;
  height: 100px;
  text-align:center;
  background-color: white;
}
.banner-menu-box > ul > li {
  box-sizing: border-box;
  position: relative;
}
.banner-menu-box {
  width: 65%;
}
.banner-menu-box > ul {
  height: 100px;
}

.notice > ul > li {
  margin-top: 40px;
  font-size: 13px;
}
.notice > ul > li:hover > a {
  color: red;
}
.banner-icon > ul > li > img {
  width: 20px;
  margin-top: 40px;
  box-sizing: border-box;
}
.banner-icon > ul:nth-child(2) > li > img {
  width: 35px;
}

.banner-menu-box > ul > li > ul {
  margin-top: 20px;
  opacity: 70%;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index:1;
}


.banner-menu-box > ul > li > ul > li {
  color: white;
  font-size: 0.8rem;
  box-sizing: border-box;
  font-weight: bold;
  white-space:nowrap;
 }
.banner-menu-box > ul > li > ul > li > a {
  display:block;
  padding: 7px;
}
.banner-menu-box > ul > li > a {
  display:block;
  padding:39px 30px;
}
.banner-menu-box ul li:hover > a {
  color: red;
}
.banner-menu-box > ul > li:hover > a {
  border-bottom:2px solid red;
}
.banner-right-box {
  float: right;
  width: 25%;
  height: 100px;
}
.franchise_img {
  display: flex;
  padding: 10px;
}

.franchise {
  background-color: rgb(57, 46, 44);
  color: white;
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
}

.franchise:hover {
  background-color: rgb(152, 59, 67);
}
.top-bar-bg {
  height:100px;
  overflow:hidden;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition: 0.5s;
  background-color:rgb(64, 58, 57);
  opacity: 98%;
  border-bottom: 2px solid rgb(238, 238, 238);
}
.top-bar-bg.active2 {
  height:330px;
}

/* 헤더 끝 */

/* 배너 시작 */
.swiper {
  height: 850px;
  min-width: 1200px;
  position:absolute;
  top:100px;
  
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* 배너 끝 */

/* section-1 시작 */
.section-1 {
  margin-top:100px;
  margin-bottom: -5px;
}
.section-1-left > img {
  width: 800px;
  height: 386px;
}
.section-1-right {
  width: 400px;
  height: 386px;
  background-color: rgb(245,244,242);
  padding: 50px 40px 0 ;
  box-sizing:border-box;
}

.section-1-right > p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.search-input{
  width: 100%;
  background-color: white;
  height: 40px;
  margin-bottom: 15px;
  box-sizing:border-box;
 position: relative;
}
.section-1-right > div > input {
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border : none;
    font-size: 1rem;
}
.section-1-right > div > i {
  font-size: 1.2rem;
 position: absolute;
  top: 10px;
 right: 20px;
  color: gray;
 
}
.search {
  width: 100%;
  height: 50px;
  background-color: rgb(59,50,48);
  color:white;
  text-align:center;
  align-items: center;
  padding-top: 10px;
  box-sizing:border-box;
  font-weight:bold;
}
/* section-1 끝 */

/* section-2 시작 */
.section-2 {
  position: relative;
}
.section-2-left-text {
position: absolute;
  top:30px;
  left: 40px;

}
.section-2-left-text > li > a {
  padding-top:20px;
  display: block;
}
.section-2-left-text > .detail {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: underline;
}
.section-2-left-text > .detail:hover > a {
  color: red;
}
/* section-2 끝 */

/* section-3 */
.section-3-1 {
  width: 400px;
  height: 450px;
  background-color: #ede6d6;
}
.section-3-1-title {
  padding:30px 40px;
}
.section-3-1-tt {
  padding-left:40px;
  padding-right: 20px;
  margin-top: -18px;
}
.section-3-1-tt > h3 {

  margin-bottom:80px;
}
.section-3-1-cn > span {
  display:block;
  font-size: 95%;
  padding-bottom: 45px;
  font-weight:bold;
  color: #6a665b;
}
.section-3-1-view {
  width: 320px;
  height: 50px;
  background-color: #6d5548;
  margin-left: 40px;

   color: white;
  font-weight:bold;
}
.section-3-1-view > a {
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
   justify-content:center;
}
.section-3-2 {
  width: 800px;
  height: 450px;
  position:relative;
}

.open-guide {
  width: 400px;
  height: 97px;
  background-color:#fdfdfb;
  position:absolute;
  top: 353px;
  display:flex;
  align-items:center;
   justify-content:center;
}
.open-guide > span {
  margin-right: 120px;
  font-weight:bold;
  color:#b9262e;
}
.open-guide > a {
  color:#938a8d ;
  font-size: 90%;  
  font-weight:bold;
  text-decoration:underline;
}

/* section-4 */
.section-4 {
  width:100%;
  height: 471px;
  background-color:#f5eee8;
  position:relative;
}
.section-4-title {
  align-items:center;
}
.section-4-title > h1 {
  padding: 30px 0;
}
.section-4-title > ul > li {
  margin: 15px;
  padding: 10px 0;
  color:#9d8e93;
}
.section-4-title > ul > li:hover {
  cursor:pointer;
}
.section-4-title > ul > li.active {
  color:#983b46;
  font-weight:bold;
  border-bottom: 2px solid #983b46;
}

.section-4-content {
  margin-top: 30px;
}
.section-4-txt > p:first-child {
  font-size:200%;
  font-weight:bold;
}
.section-4-txt > p:nth-child(2) {
  font-size: 150%;
  font-weight:bold;
  color:#953f42;
  margin-top: -20px;
}
.section-4-txt > p:nth-child(3) {
  font-size:95%;
  margin-bottom:30px;
}
.section-4-txt > a {
  color:#953f42;
  padding:6px 30px;
  font-size:90%;
  font-weight:bold;
  border:1px solid #953f42;
  display:inline-block;
}
/* section-4-transition */
.section-4-content > img {
  transform:translatex(-200px);
  opacity:0;
}
.section-4-content.active > img {
  transform:translatex(0);
  opacity:1;
  transition:1s;
}

.section-4-content > .section-4-txt > p:first-child,
.section-4-content > .section-4-txt > p:nth-child(2),
.section-4-content > .section-4-txt > p:nth-child(3),
.section-4-content > .section-4-txt > a {
  transform:translatex(200px);
  opacity:0;
}
.section-4-content.active > .section-4-txt > p:first-child {
  transform:translatex(0);
  opacity:1;
  transition:1s; 
}
.section-4-content.active > .section-4-txt > p:nth-child(2) {
  transform:translatex(0);
  opacity:1;
  transition:1.2s; 
}
.section-4-content.active > .section-4-txt > p:nth-child(3) {
  transform:translatex(0);
  opacity:1;
  transition:1.4s; 
}
.section-4-content.active > .section-4-txt > a {
  transform:translatex(0);
  opacity:1;
  transition:1.6s; 
}
/* section-4-body 위치 */
.tap__body > .tap-box-1__item {
  position:absolute;
  bottom:20%;
  left:50%;
  width:1200px;
  transform:translatex(-50%);
}

/* footer */
.footer {
  width: 100%;
  height: 166px;
  position:relative;
}
.footer-left {
  width: 300px;
  height: 166px;
  background-color:#575757; 
  position:relative;
}
.footer-left > div {
  position:absolute;
  top:45px;
  width: 70px;
  height:auto;
}
.footer-left > span {
  color:#acb7b9;
  font-size: 85%;
  position:absolute;
  top: 100px;
  left: 90px;
  
}

.footer-right {
  width: 900px;
  height: 166px;
  background-color:#f2f2f2;
  position:relative;
}

.footer-right > ul > li > a {
  display:block;
  padding: 25px 19px;
  font-weight:bold;
  color:#434343;
}
.footer-right > ul > li:after {
  content:"|";
  position:absolute;
  top:23px;
  color: #434343;
}
.footer-right > ul > li:first-child:after {
  content:none;
}
.privacy {
  font-size:110%;
}
.footer-right > p {
  font-size:95%;
  padding-left: 20px;
  margin-bottom: 10px;
}
.footer-right > p > i{
  padding: 0 10px;
}
.footer-right > span,
.footer-right > p > span {
  font-size:83%;
}
.address {
  padding-left: 20px;
}
.footer-right > span:after {
  content:"|";
  margin-left: 10px;
}
.footer-right > span:last-child:after {
  content:none;
  margin: 0 15px;
}
/* footer 배경 */
.footer-left-bg{
  width: 25%;
  height: 166px;
  background-color:#575757;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
}
.footer-right-bg {
  width:75%;
  height: 166px;
  background-color:#f2f2f2;
  z-index:-1;
  position:absolute;
  top:0;
  right:0;
}
/* popup */
.popup {
  position:fixed;
  z-index:100;
  top:300px;
  right:50px;
  cursor:pointer;
}
